<!-- Modal Window -->
<div class="overlay"></div>
<div class="modal modal-auth" data-modal>
  <button class="btn-modal-close" data-modal-close type="button">
    <svg class="modal-close-icon">
      <use href="./img/icons-igor.svg#close"></use>
    </svg>
  </button>
  <!-- <p class="modal-title">Leave your contacts and we will call you back</p> -->
  <form class="modal-form">
    <label class="modal-field"
      ><span class="input-text">Name</span>
      <span class="modal-field-input">
        <input
          class="modal-input modal-input-focus"
          type="text"
          name="name"
          autofocus
        />
        <svg class="modal-icon" width="18" height="18">
          <use href="./img/icons-igor.svg#person"></use>
        </svg>
      </span>
    </label>
    <label class="modal-field"
      ><span class="input-text">Email</span>
      <span class="modal-field-input">
        <input class="modal-input modal-input-focus" type="text" name="email" />
        <svg class="modal-icon" width="18" height="24">
          <use href="./img/icons-igor.svg#phone"></use>
        </svg>
      </span>
    </label>
    <label class="modal-field"
      ><span class="input-text">Password</span>
      <span class="modal-field-input">
        <input
          class="modal-input modal-input-focus"
          type="text"
          name="password"
        />
        <svg class="modal-icon" width="18" height="24">
          <use href="./img/icons-igor.svg#email"></use>
        </svg>
      </span>
    </label>
    <!-- <label class="modal-field-textarea"
        ><span class="input-text">Comment</span>
        <textarea
          class="modal-field-comment modal-input-focus"
          name="user-comment"
          placeholder="Text input"
        ></textarea>
      </label>
      <label class="checkbox-text modal-field-checkbox" for="modal-policy">
        <input
          class="modal-input-check visually-hidden"
          type="checkbox"
          name="modal-policy"
          id="modal-policy"
        />
        <span class="modal-icon-check">
          <svg width="10" height="8">
            <use href="./img/icons-igor.svg#click"></use>
          </svg> </span
        ><span
          >I accept the terms and conditions of the
          <a href="">Privacy Policy </a></span
        >
      </label> -->
    <button type="button" data-action="signup">SIGN UP</button>
    <button type="button" data-action="signin">SIGN IN</button>
    <button class="btn-modal-submit" type="submit">SIGN UP</button>
  </form>
</div>
