<section class="shopping-list-section">
  <div class="container shopping-list-container">
    <h1 class="shopping-list-title">
      Shopping <span class="title-blue">List</span>
    </h1>
    <p class="empty-shopping-list-text">
      This page is empty, add some books and proceed to order.
    </p>
    <div>
      <picture>
        <source
          srcset="
            ./img/shopping/books_desk_tab_1x.png 1x,
            ./img/shopping/books_desk_tab_2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/shopping/books_mob_1x.png 1x,
            ./img/shopping/books_mob_2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="empty-shopping-list-img"
          src="./img/shopping/books_mob_1x.png"
          alt="empty shopping list img"
        />
      </picture>
    </div>
    <ul class="shopping-list-list">
      <li class="shop-cart-container">
        <div class="shop-cart-wrap">
          <div class="shop-image-wrapper">
            <img class="shop-image" src="#" alt="#" width="100" height="142" />
          </div>
          <div class="shop-cart-info">
            <h2 class="shop-cart-title">I will find you</h2>
            <h3 class="shop-cart-category">Hardcover fiction</h3>
            <p class="shop-cart-description">
              David Burroughs was once a devoted father to his three-year-old
              son Matthew, living a...David Burroughs was once a devoted father
              to his three-year-old son Matthew, living a
            </p>
            <div class="shop-cart-bottom-wrap">
              <h4 class="shop-cart-author">Harlan Coben</h4>
              <ul class="shop-cart-media">
                <li class="shop-cart-media-item">
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Amazon"
                  >
                    <picture class="amazon-picture">
                      <source
                        srcset="./img/shopping/amazon.png"
                        type="image/png"
                      />
                      <img
                        class="media-icon amazon-icon"
                        src="./img/shopping/amazon.png"
                        alt="Amazon logo"
                        width="32"
                        height="11"
                      />
                    </picture>
                  </a>
                </li>
                <li class="shop-cart-media-item">
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Apple Books"
                  >
                    <picture>
                      <source
                        srcset="./img/shopping/apple.png"
                        type="image/png"
                      />
                      <img
                        class="media-icon media-book-icon"
                        src="./img/shopping/apple.png"
                        alt="Apple book logo"
                        width="16"
                        height="16"
                      />
                    </picture>
                  </a>
                </li>
                <li class="shop-cart-media-item">
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Bookshop"
                  >
                    <picture>
                      <source
                        srcset="./img/shopping/bookshop.png"
                        type="image/png"
                      />
                      <img
                        class="media-icon media-book-icon"
                        src="./img/shopping/bookshop.png"
                        alt="Book shop logo"
                        width="16"
                        height="16"
                      />
                    </picture>
                  </a>
                </li>
              </ul>
            </div>
            <button
              class="shop-cart-btn"
              type="button"
              data-title="title"
              aria-label="Remove button"
            >
              <svg class="shop-cart-btn-trash">
                <use href="./img/icons.svg#icon-trash"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="shop-cart-container">
        <div class="shop-cart-wrap">
          <div class="shop-image-wrapper">
            <img class="shop-image" src="#" alt="#" width="100" height="142" />
          </div>
          <div class="shop-cart-info">
            <h2 class="shop-cart-title">I will find you</h2>
            <h3 class="shop-cart-category">Hardcover fiction</h3>
            <p class="shop-cart-description">
              David Burroughs was once a devoted father to his three-year-old
              son Matthew, living a...David Burroughs was once a devoted father
              to his three-year-old son Matthew, living a
            </p>
            <div class="shop-cart-bottom-wrap">
              <h4 class="shop-cart-author">Harlan Coben</h4>
              <ul class="shop-cart-media">
                <li class="shop-cart-media-item">
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Amazon"
                  >
                    <picture class="amazon-picture">
                      <source
                        srcset="./img/shopping/amazon.png"
                        type="image/png"
                      />
                      <img
                        class="media-icon amazon-icon"
                        src="./img/shopping/amazon.png"
                        alt="Amazon logo"
                        width="32"
                        height="11"
                      />
                    </picture>
                  </a>
                </li>
                <li class="shop-cart-media-item">
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Apple Books"
                  >
                    <picture>
                      <source
                        srcset="./img/shopping/apple.png"
                        type="image/png"
                      />
                      <img
                        class="media-icon media-book-icon"
                        src="./img/shopping/apple.png"
                        alt="Apple book logo"
                        width="16"
                        height="16"
                      />
                    </picture>
                  </a>
                </li>
                <li class="shop-cart-media-item">
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Bookshop"
                  >
                    <picture>
                      <source
                        srcset="./img/shopping/bookshop.png"
                        type="image/png"
                      />
                      <img
                        class="media-icon media-book-icon"
                        src="./img/shopping/bookshop.png"
                        alt="Book shop logo"
                        width="16"
                        height="16"
                      />
                    </picture>
                  </a>
                </li>
              </ul>
            </div>
            <button
              class="shop-cart-btn"
              type="button"
              data-title="title"
              aria-label="Remove button"
            >
              <svg class="shop-cart-btn-trash">
                <use href="./img/icons.svg#icon-trash"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
