<section class="shopping-list-section">
<div class="container shopping-list-container">
  <h1 class="shopping-list-title">Shopping <span class="title-blue">List</span></h1>
  <ul class="shopping-list-list">
    <li class="shop-cart-container">
              <div class="shop-cart-wrap">
                  <div class="shop-image-wrapper">
                      <img class="shop-image" src="#" alt="#"width="100" height="142">
                  </div>
                  <div class="shop-cart-info">
                      <h2 class="shop-cart-title">I will find you</h2>
                      <h3 class="shop-cart-category">Hardcover fiction</h3>
                      <p class="shop-cart-description">David Burroughs was once a devoted father to his three-year-old son Matthew, living a dream life just a short drive away from the working-class suburb where he and his wife, Cheryl, first fell in love--until one fateful night when David woke suddenly to discover Matthew had been murdered while David was asleep just down the hall.</p>
                      <div class="shop-cart-bottom-wrap">
                          <h4 class="shop-cart-author">Harlan Coben</h4>
                          <ul class="shop-cart-media">
                              <li class="shop-cart-media-item">
                                  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Amazon">
                                      <picture class="amazon-picture">
                                          <source srcset="#" type="image/webp" />
                                          <source srcset="#" type="image/png" />
                                          <img class="media-icon amazon-icon" src="#" alt="Amazon logo" />
                                      </picture>
                                  </a>
                              </li>
                              <li class="shop-cart-media-item">
                                  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Apple Books">
                                      <picture>
                                          <source srcset="#" type="image/webp" />
                                          <source srcset="#" type="image/png" />
                                          <img class="media-icon" src="#" alt="Apple book logo" />
                                      </picture>
                                  </a>
                              </li>
                              <li class="shop-cart-media-item">
                                  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Bookshop">
                                      <picture>
                                          <source srcset="#" type="image/webp" />
                                          <source srcset="#" type="image/png" />
                                          <img class="media-icon" src="#" alt="Book shop logo" />
                                      </picture>
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <button class="shop-cart-btn" type="button" data-title="title" aria-label="Remove button">
                          <svg class="shop-cart-btn-trash"width="28" height="28">
                              <use href="./img/icons.svg#icon-trash"></use>
                          </svg>
                      </button>
                  </div>
              </div>
            </div>
          </li>
  </ul>
</div>
</section>


