p {
    margin: 0;
    padding: 0;
}

.categorys {
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    width: 335px;
    height: 228px;

}

.categorys::-webkit-scrollbar {
    width: 8px;
    height: 114px;
}

.categorys::-webkit-scrollbar-thumb {
    background: #000;
    width: 8px;
    height: 114px;
    border-radius: 12px;
    background: #E0E0E0;
}

.category-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.category-link {
    text-decoration: none;
    color: rgba(17, 17, 17, 0.60);
    font-size: 16px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.32px;
}

.book-carts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    width: 335px;
    height: 535px;
    margin-bottom: 40px;
}

.book-img {
    width: 335px;
    height: 485px;
    border-radius: 8px;
}

