.dark {
        --main-accent-color: #4F2EE8;
        --secondary-accent-color: #EAC645;
        --main-color: #B4AFAF;
         --secondary-color: #202024;
        --main-bg-color: #fff;
}
.slider{
    transform: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out,fill .3s ease-in-out, transform .3s ease-in-out;
}
.circle::before{
transition: color .3s ease-in-out,
    background-color .3s ease-in-out,
    border-color .3s ease-in-out,
    fill .3s ease-in-out,
    transform .3s ease-in-out;
}
  body {
    background-color:var(--secondary-color);
}

li {
    color: var(--main-bg-color);
}

.dark .book-title {
    color: var(--main-bg-color);
}

 h1,
 h3 {
    color:var(--main-bg-color);
}
.category-link:hover,
.category-link:focus {
    color: var(--secondary-accent-color);
}

.category-list::-webkit-scrollbar-thumb {
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, var(--main-bg-color) 18.03%, var(--main-bg-color) 100%);
}

.header-container{
    background: var(--secondary-color);
}

.header_logo-icon,
.modal-close-btn {
    fill: var(--secondary-color);
}

.shopping-list-title,
.shop-cart-title,
.dar .shop-cart-description {
    color: var(--main-bg-color);  
}

.modal-body {
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
.modal-body-add-btn {
    color: var(--main-bg-color);
}
.modal-body-text{
    color: var(--main-bg-color);
}

.icon-close {
    fill: var(--main-bg-color);
}

.amazon-icon{
    filter: invert(98%) sepia() saturate(0%) hue-rotate(105deg) brightness(103%) contrast(102%);
    fill: var(--main-bg-color);
}
.shop-cart-media:hover,
.shop-cart-media:focus {
    filter: invert(98%) sepia() saturate(0%) hue-rotate(105deg) brightness(103%) contrast(102%);
}
.loader {
    border: 10px solid rgba(234, 198, 69, .6);
    border-left-color: var(--secondary-accent-color);
}

.shop-cart-btn:hover {
    color: var(--main-bg-color);
}
.dark .title-category {
    color: var(--main-bg-color);
}

.see_more {
    color: var(--main-bg-color);
}
.modal-backdrop{
    background-color: rgba(17, 17, 17, 0.40);
}