/*header*/

.header {
  z-index: 21;
  position: relative;
  width: 100%;
  background: #f6f6f6;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
}

.header .container {
  padding-top: 0;
  padding-bottom: 0;
  height: 64px;
}

@media (min-width: 768px) {
  .header .container {
    height: 72px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo-name {
  color: #111;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

/*nav*/

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
}

@media (min-width: 768px) {
  .nav {
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .nav {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media (min-width: 767px) {
  .nav-list {
    margin-left: 40px;
  }
}

@media (min-width: 1024px) {
  .nav-list {
    margin-left: 76px;
  }
}

@media (min-width: 1440px) {
  .nav-list {
    gap: 24px;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 36px;
  color: #111111;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  transition: background 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-item:hover,
.nav-item:focus {
  font-weight: 700;
  color: #111111;
  fill: #111111;
  background: #eac645;
  padding: 8px 16px;
}

.nav-link-icon {
  margin-left: 4px;
}

/*button hamburger + toggle*/

.js-open-menu {
  display: none;
}

@media (max-width: 767px) {
  .js-open-menu {
    display: block;
  }
}
.js-open-menu {
  margin-left: 14px;
  border: none;
  outline: 0;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 18px;
  bottom: 2px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(-16px);
}

.slider,
.circle {
  border-radius: 24px;
}

.circle::before {
  border-radius: 50%;
}

input:checked + .circle::before {
  background-color: #fff;
}

/*sign up*/

@media (max-width: 767px) {
  .sign-up {
    display: none;
  }
}

@media (min-width: 768px) {
  .sign-up {
    display: block;
  }
}

.sign-up {
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
  padding: 12px 14px;
  text-decoration: none;
  background: #4f2ee8;
  border: 1.5px solid #111111;
  border-radius: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up:hover,
.sign-up:focus {
  color: var(--yellow-color);
  border-color: var(--yellow-color);
}

/*mobile menu*/

.mobile-menu {
  display: none;
}

.js-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu_thumb {
  padding-bottom: 24px;
}

.mobile-menu_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu_item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.mobile-menu_link {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.mobile-menu_icon {
  margin-left: 4px;
}

.mobile-menu_img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
